<!doctype html>
<head>
  <title>NVKOMATA BLOG</title>
  <meta
    http-equiv="refresh"
    content="0; url=https://mov.im/blog/nvkomata@snug.moe"
  />
  <meta content="NVKOMATA BLOG" property="og:title" />
  <meta content="vampire catgirl's ramblings" property="og:description" />
  <script type="text/javascript">
    window.location.href = "https://mov.im/blog/nvkomata@snug.moe";
  </script>
</head>
<body> </body>
