---
import Layout from "../layouts/Layout.astro";

import Link from "../components/Link.astro";

import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";

import avatar from "../images/pitch_black_witch_by_doesu_d84okrk_fill.png";
---

<Layout title="nvkomata" class="max-md:mb-48">
  <main
    class="w-screen h-screen select-none p-8 text-center flex flex-col justify-center items-center"
  >
    <div>
      <Image src={avatar} alt="" class="max-w-96 w-full mx-2" />
      <div
        class="p-4 text-left w-full tracking-wide font-mono text-5xl font-black"
      >
        <p>nvkomata</p>
      </div>

      <nav class="select-none flex max-md:flex-col gap-2">
        <Link
          href="https://linktr.ee/nvkomata"
          name="see my links on linktree"
          icon="linktree"
        />
        <Link
          href="https://www.youtube.com/@nvkomata"
          name="watch my videos on youtube"
          icon="youtube"
        />
        <Link
          href="https://bsky.app/profile/nvkomata.bsky.social"
          name="the doomsday platform for burned out twitter users"
          icon="bsky"
        />
        <Link
          href="https://plasmatrap.com/@nvkomata"
          name="follow me on fedi from mastodon, pleroma, misskey and others"
          icon="fedi"
        />
      </nav>
    </div>
  </main>

  <script
    is:inline
    src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
  <script is:inline>
    kofiWidgetOverlay.draw("nvkomata", {
      type: "floating-chat",
      "floating-chat.donateButton.text": "Support me",
      "floating-chat.donateButton.background-color": "#323842",
      "floating-chat.donateButton.text-color": "#fff",
    });
  </script>

  <Footer />
</Layout>
