---
import Layout from "../layouts/Layout.astro";

import Link from "../components/Link.astro";
import Icon from "../components/Icon.astro";

import Buttons from "../components/Buttons.astro";

import Image from "astro/components/Image.astro";

import avatar from "../images/avatar.png";
import layer1 from "../images/parallax/field/layer1.png";
import layer2 from "../images/parallax/field/layer2.png";
---

<Layout title="NVKOMATA" class="bg-field bg-cover bg-center">
  <main
    class="select-none p-8 z-[300] absolute bottom-[20%] sm:bottom-[30%] right-0 text-right"
  >
    <h1
      class="font-serif scale-y-125 text-5xl md:text-6xl lg:text-7xl uppercase drop-shadow-xl"
    >
      nvkomata
    </h1>
    <p class="drop-shadow-xl my-4">amateur vtuber and design connoisseur 🥀</p>
    <nav class="select-none">
      <Link
        href="https://linktr.ee/nvkomata"
        name="see my links on linktree"
        icon="linktree"
      />
      <Link
        href="https://www.youtube.com/@nvkomata"
        name="watch my videos on youtube"
        icon="youtube"
      />
      <Link
        href="https://akko.wtf/nvkomata"
        name="follow me on fedi"
        icon="fedi"
      />
    </nav>
    <div
      class="flex flex-col sm:flex-row items-center max-w-max gap-2 ml-auto mt-4"
    >
      <a
        class="select-none rounded-3xl inline-flex gap-2 items-center py-2 px-4 font-monoer max-w-max ml-auto transition-all bg-zinc-800/30 hover:bg-red-400/50 backdrop-blur-sm shadow-md hover:shadow-lg hover:shadow-zinc-950/40 shadow-zinc-950/40 border-t border-zinc-400/50"
        href="https://ko-fi.com/nvkomata"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="fill-current h-4 w-4">
          <Icon icon="kofi" />
        </div>
        <span>support</span>
        <div class="fill-current h-4 w-4 opacity-50">
          <Icon icon="newtablink" />
        </div>
      </a>
      <a
        class="select-none rounded-3xl inline-flex gap-2 items-center py-2 px-4 font-monoer max-w-max ml-auto transition-all bg-zinc-800/30 hover:bg-red-200/50 backdrop-blur-sm shadow-md hover:shadow-lg hover:shadow-zinc-950/40 shadow-zinc-950/40 border-t border-zinc-400/50"
        href="https://en.pronouns.page/@nvkomata"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>she/her</span>
        <div class="fill-current h-4 w-4 opacity-50">
          <Icon icon="newtablink" />
        </div>
      </a>
      <a
        class="select-none rounded-3xl inline-flex gap-2 items-center py-2 px-4 font-monoer max-w-max ml-auto transition-all bg-zinc-800/30 hover:bg-purple-300/50 backdrop-blur-sm shadow-md hover:shadow-lg hover:shadow-zinc-950/40 shadow-zinc-950/40 border-t border-zinc-400/50"
        href="/blog/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>blog</span>
        <div class="fill-current h-4 w-4 opacity-50">
          <Icon icon="newtablink" />
        </div>
      </a>
    </div>
  </main>
  <footer
    class="select-none z-[300] absolute bottom-0 text-center w-full p-4 pt-0 text-zinc-300 text-xs before:absolute before:inset-0 before:w-screen before:backdrop-blur-xl before:-z-10 before:[-webkit-mask:_linear-gradient(180deg,_transparent,_black_50%)]"
  >
    <Image
      src="https://count.getloli.com/get/@nvkosite?theme=asoul"
      alt=""
      inferSize
      title="thanks for visiting"
      class="w-52 h-auto mx-auto my-4 pointer-events-none"
    />
    <p class="my-2 drop-shadow-xl">
      If you find any broken links or bugs on
      <a href="https://github.com/nvkomata/nvkomata.github.io">this website</a>,
      do not contact me. I do not care, thank you.
    </p>
    <script type="text/javascript" is:inline>
      var year = new Date();
      document.write("&copy; " + year.getFullYear() + " nvkomata");
    </script>
  </footer>

  <div
    class="fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)]"
  >
    <div
      class="w-screen h-screen absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      id="layer-1"
    >
      <Image
        class="select-none absolute bottom-0 scale-125 brightness-50"
        src={layer1}
        alt=""
      />
      <div
        class="absolute z-[200] opacity-20 hover:opacity-100 transition-opacity"
      >
        <Buttons />
      </div>
      <div
        class="w-[90vw] h-[90vh] z-50 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
        id="layer-2"
      >
        <p class="z-10 font-mono text-sm block w-1/4 p-2 min-w-32 mt-4">
          こんにちは訪問者 <br />
          <span class="inline-block">/ᐠ - ˕ -マ</span>
          <br />
        </p>
        <div
          class="z-10 p-2 max-w-max border border-transparent group hover:border-slate-50/30 hover:shadow-xl transition-all"
        >
          <img
            src="https://nvkomata.github.io/button/nvkomata.gif"
            alt="nvkomata"
            class="[image-rendering:_pixelated] w-[88px] h-auto opacity-50 group-hover:opacity-100 group-hover:w-[176px] transition-all"
          />
          <textarea
            id="buttoncode"
            class="resize-none bg-zinc-900/50 text-xs p-2 font-mono opacity-0 group-hover:opacity-100 transition-all w-full h-32 text-justify"
            onclick="this.select()"
            readonly></textarea>
          <script is:inline>
            const buttoncode = document.getElementById("buttoncode");
            buttoncode.innerHTML = `<a href="https://nvkomata.github.io/" target="_blank"><img src="https://nvkomata.github.io/button/nvkomata.gif"></a>`;
          </script>
        </div>
      </div>
      <div
        class="w-full h-full absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
        id="layer-3"
      >
        <Image
          class="select-none absolute bottom-0 scale-125 brightness-75"
          src={layer2}
          alt=""
        />
      </div>
      <Image
        src={avatar}
        id="layer-4"
        alt=""
        class="object-cover select-none pointer-events-none z-[200] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      />
    </div>
  </div>

  <script is:inline>
    window.onload = function () {
      var wrapper = document.getElementsByTagName("body")[0],
        layerOne = document.querySelector("#layer-1"),
        layerTwo = document.querySelector("#layer-2"),
        layerThree = document.querySelector("#layer-3"),
        layerFour = document.querySelector("#layer-4");

      wrapper.addEventListener("mousemove", function (e) {
        var pageX = e.clientX - window.innerWidth / 2,
          pageY = e.clientY - window.innerHeight / 2;
        layerOne.style.transform =
          "translateX(-" +
          (50 + pageX / 200) +
          "%) translateY(-" +
          (50 + pageY / 200) +
          "%)";
        layerTwo.style.transform =
          "translateX(-" +
          (50 + pageX / 1000) +
          "%) translateY(-" +
          (50 + pageY / 1000) +
          "%)";
        layerThree.style.transform =
          "translateX(-" +
          (50 + pageX / 400) +
          "%) translateY(-" +
          (50 + pageY / 400) +
          "%)";
        layerFour.style.transform =
          "translateX(-" +
          (50 + pageX / 100) +
          "%) translateY(-" +
          (50 + pageY / 100) +
          "%)";
      });
    };
  </script>
</Layout>
