---

---

<footer
  class="select-none z-[300] relative bottom-0 text-center w-full p-4 pt-0 text-zinc-300 text-xs before:absolute before:inset-0 before:w-screen before:backdrop-blur-xl before:-z-10 before:[-webkit-mask:_linear-gradient(180deg,_transparent,_black_50%)]"
>
  <p class="my-2 drop-shadow-xl">
    If you find any broken links or bugs on
    <a href="https://github.com/nvkomata/nvkomata.github.io">this website</a>,
    do not contact me. I do not care, thank you.
  </p>
  <script type="text/javascript" is:inline>
    var year = new Date();
    document.write("&copy; " + year.getFullYear() + " nvkomata");
  </script>
</footer>
