---
interface Props {
	icon: string;
}

const { icon } = Astro.props;

const icons: Record<string, any> = {
	fedi: `<svg viewBox="0 0 512 512" role="img" xmlns="http://www.w3.org/2000/svg"><title>Akkoma</title><path d="M 238.07737,86.478754 C 326.85973,17.68622 371.94004,-8.2776922 382.86502,2.2646391 394.88154,13.86028 367.05652,45.585704 353.80752,98.61021 c -2.5037,10.02018 -3.86839,28.15497 -4.09407,54.40439 83.57836,46.40673 123.96143,82.58474 121.14923,108.53401 -1.48156,13.671 -41.07138,11.41797 -118.76945,-6.7591 37.01185,90.50363 48.20985,163.674 33.59398,219.51109 -15.79294,60.33387 -79.93191,37.06479 -103.64427,-1.79775 -20.63025,-33.81123 -29.0031,-88.87378 -40.55678,-86.96884 C 214.97918,389.9044 178.82068,522.02067 85.328002,511.39166 37.260413,505.92694 36.368733,438.64824 45.530324,382.12699 59.249736,297.48684 90.65481,230.85995 139.74554,182.24632 80.808623,154.74299 53.005347,136.31768 56.335716,126.97041 c 8.803587,-24.70883 66.769624,-19.4799 97.400174,-20.13327 9.47037,-0.202 25.17147,0.73812 47.1033,2.82039 17.68256,-9.917883 30.09529,-17.644141 37.23818,-23.178776 z M 211.97763,210 c -37.46882,11.38803 -56.12743,35.95829 -55.9758,73.71077 0.0989,24.63099 40.95072,34.7816 70.8282,30.23261 60.24423,-9.17248 48.86363,-41.21507 40.18206,-62.65399 -2.71247,-6.69837 -9.60638,-16.24915 -20.68174,-28.65233 z" /></svg>`,
	kofi: `<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ko-fi</title><path d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"/></svg>`,
	linktree: `<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Linktree</title><path d="m13.73635 5.85251 4.00467-4.11665 2.3248 2.3808-4.20064 4.00466h5.9085v3.30473h-5.9365l4.22865 4.10766-2.3248 2.3338L12.0005 12.099l-5.74052 5.76852-2.3248-2.3248 4.22864-4.10766h-5.9375V8.12132h5.9085L3.93417 4.11666l2.3248-2.3808 4.00468 4.11665V0h3.4727zm-3.4727 10.30614h3.4727V24h-3.4727z"/></svg>`,
	youtube: `<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>YouTube</title><path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/></svg>`,
};

const svg: string = icons[icon];
---

<Fragment set:html={svg} />