---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  text: string;
  icon?: string;
}

const { href, text, icon } = Astro.props;
---

<a href={href} title={href} role="button">
  <Icon name={icon} />
  <span>{text}</span>
</a>
<style>
  a {
    display: inline-block;
    user-select: none;
    height: 1.4em;
    max-width: fit-content;
    padding: 0.85em 1.6em;
    color: #ead7ea;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.1s ease-out;
    backdrop-filter: blur(1em);
    background-color: rgba(255, 97, 97, 0.711);
    font-weight: 500;
    text-shadow: none;
    border: 0.3rem solid rgba(111, 44, 44, 0.8);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  a:hover {
    box-shadow: 0 0.2em 1.5em rgba(255, 128, 128, 0.3);
    background-color: rgba(255, 74, 74, 0.1);
  }
  svg {
    height: 1rem;
    scale: 2;
    width: auto;
    margin: 0 1em 0 0.2em;
  }
</style>
