---
import { Image } from "astro:assets";

const buttons = [
  '<a href="https://amemoia.nekoweb.org/" target="_blank"><img src="https://amemoia.nekoweb.org/resources/buttons/amemoia.png"></a>',
  '<a href="https://i1vy.moe/" target="_blank"><img src="https://stuff.i1vy.moe/88x31.png" /></a>',
  '<Image src="https://cyber.dabamos.de/88x31/88x31.gif" alt="88x31" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/blink-0.gif" alt="blink" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/bu12.gif" alt="bu12" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/konata.gif" alt="konata" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/pbm.gif" alt="pbm" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/web3no.gif" alt="no web3" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/tummy.gif" alt="tummy" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/transnow2.gif" alt="trans rights" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/winampg.gif" alt="winamp" width="88" height="31" />',
  '<Image src="https://cyber.dabamos.de/88x31/hello_kitty.gif" alt="hello kitty" width="88" height="31" />',
];
---

<div class="places">
  <div>
    {buttons.map((button) => <Fragment set:html={button} />)}
  </div>
  <div aria-hidden="true">
    {buttons.map((button) => <Fragment set:html={button} />)}
  </div>
</div>

<div class="mine">
  <p>my 88x31</p>
  <Image
    src="https://nvkomata.github.io/button/nvkomata.gif"
    alt="nvkomata"
    width="88"
    height="31"
  />
</div>

<style>
  .mine {
    margin: 3.5em auto 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.75em;
    backdrop-filter: saturate(200%) brightness(150%) blur(0.5em);
    -webkit-backdrop-filter: saturate(200%) brightness(150%) blur(0.5em);

    text-align: center;

    p {
      font-family: "Iosevka Curly Slab", monospace;
      text-shadow: 0 0.1em 1em black;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    textarea {
      resize: none;
      outline: none;
      border: none;
      border-radius: 0;
      height: 31px;
      width: 88px;
      padding: 0.25em;
      background-color: rgba(0, 0, 0, 0.3);
      color: rgb(255, 236, 239);
      font-family: "Iosevka Curly Slab", monospace;
      font-size: xx-small;
    }
  }

  .places {
    display: flex;
    height: fit-content;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
  }

  .places > div {
    margin: 0;
    padding: 1em 0;
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    justify-content: space-around;

    animation: marquee 10s linear infinite;

    img {
      margin: 0 0.25em;
      image-rendering: pixelated;
      transition: scale 0.1s ease-out;
    }
    img:hover {
      scale: 1.3;
    }
  }

  .places:hover > div {
    animation-play-state: paused;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .places span {
      animation-iteration-count: 1;
      animation-duration: 0.01;
      width: auto;
      padding-left: 0;
    }
  }
</style>
