---
interface Props {
  title: string;
  class?: string;
}

const { class: className, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="my personal website" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <meta name="generator" content={Astro.generator} />
    <meta content={title} property="og:title" />
    <meta content="witch's brew" property="og:description" />
    <meta content="#020001" data-react-helmet="true" name="theme-color" />

    <title>{title}</title>
  </head>
  <body class:list={["w-screen h-screen bg-black text-white", className]}>
    <slot />
  </body>
</html>
