---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="my personal website" />
		<meta name="viewport" content="width=device-width" />

		<link rel="shortcut icon" href="/icon.png" />
		<link rel="apple-touch-icon" href="/icon.png" />

		<meta name="generator" content={Astro.generator} />
		<meta content="nu:site" property="og:title" />
		<meta content="where all goes to die" property="og:description" />
		<meta content="https://nvkomata.github.io" property="og:url" />
		<meta content="https://artfiles.alphacoders.com/142/142012.jpg" property="og:image" />
		<meta content="#756568" data-react-helmet="true" name="theme-color" />

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: monospace;
		background-color: black;
		color: whitesmoke;
	}
</style>
